extends layout 

include mixins/_loginForm

block content 
  .inner
    form.form(action="/register" method="POST")
      h2 #{title}
      label(for="name") Name
      input(type="name" name="name")
      label(for="email") Email
      input(type="email" name="email")
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Password-confirm
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Register here")
    //- pre= h.dump(tags)
